<h1>hello</h1>
<form action="/auth/signIn" method="POST">
    <label><input type="text" name="username" value="<% if (typeof err !== 'undefined') { %><%= body.username %><% } %>">Name</label>
    <label><input type="text" name="password">Password</label>
    <button type="submit">Submit</button>
</form>
<% if (typeof err !== 'undefined') { %>
    <p style="color: red"><%= err %></p>
    <% } %>