<form action="/auth" method="POST">
    <label><input type="text" name="username">Name</label>
    <label><input type="text" name="password">Password</label>
    <button type="submit">Submit</button>
</form>